* {
  margin: 0;
  font-family: Arial;
  border: border-box;
}

.navbar {
  background-color: rgb(19, 25, 33);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navhover:hover {
  border: 2px solid white;
}

.nav-elements-border {
  padding: 5px;
  border-radius: 3px;
  border: 2px solid rgb(19, 25, 33);
}

/* box1 */
.navbar img {
  object-fit: cover;
  border-bottom: 0;
  height: 50px;
  width: 100px;
}

/* box 2 */
.loc {
  color: white;
}

.loc1 {
  margin-left: 11px;
  font-size: 0.7rem;
  font-weight: 100;
  color: #cccccc;
}

.loc2 {
  font-size: 0.9rem;
  display: flex;
}

.loc2 p {
  margin-left: 5px;
}

/* box 3 */
.search {
  border: 2px solid rgb(19, 25, 33);

  display: flex;
  width: 800px;
  height: 40px;
  justify-content: space-evenly;
  border-radius: 8px;
}

.search:hover {
  border: 2px solid orange;
  border-radius: 8px;
}

.search select {
  background-color: #f3f3f3;
  color: #6f7373;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  width: 64px;
  border: none;
  text-align: center;
}

.search input {
  border: none;
  width: 100%;
  padding-left: 10px;
  font-size: 1rem;
}

.searchicon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(19, 25, 33);
  width: 45px;
  background-color: #f3a847;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* box 4 */
.lang {
  color: white;
}

.lang select {
  background-color: rgb(19, 25, 33);
  color: white;
  border: none;
  font-weight: 600;
}

/* box 4 5 */
.nav-signin {
  color: white;
  font-size: 0.85rem;
}

.sec {
  font-weight: 700;
}

.nav-return {
  font-size: 0.85rem;
  color: white;
}

/* box 6 */
.cart {
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  width: 4%;
}

/* Panel */
.panel {
  height: 40px;
  background-color: rgb(35, 47, 62);
  color: white;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.panel-all {
  font-size: 0.9rem;
  font-weight: 700;
}

.panel-border {
  padding: 5px;
  border-radius: 3px;
  border: 2px solid rgb(35, 47, 62);
}

.panel-opt p {
  display: inline;
  margin-left: 15px;
  font-size: 0.85rem;
}

.hero-section {
  background-image: linear-gradient(
      to bottom,
      transparent 60%,
      rgb(227, 230, 230)
    ),
    url(hero_image.jpg);
  height: 600px;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.hero-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 460px;
  width: 96%;
  background-color: white;
  height: 40px;
}

.hero-msg p {
  size: 1rem;
  color: black;
}

.shopping-grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 23px;
  background-color: rgb(227, 230, 230);
}
.box {
  background-color: white;
  position: relative;
  top: -40px;
  padding: 20px;
  width: 20%;
}
.box-img {
  height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-size: cover;
  background-repeat: no-repeat;
}
a {
  color: rgb(0, 113, 163);
}
.box h2 {
  font-size: 1.4rem;
}
.box a {
  font-size: 0.8rem;
}

.footer1 {
  height: 30px;
  background-color: rgb(55, 71, 90);
  text-align: center;
  padding-top: 10px;
  font-size: 15px;
  color: white;
}

.footer2{
  color: white;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(35, 47, 62);
  font-size: smaller;
  border-bottom: 1px solid #3a4553;
  padding-left: 15%;
  padding-right: 15%;
  
}

.footer2 ul {
  padding-top: 30px;
  padding-bottom: 30px ;
}

.footer2 ul h1{
  font-size: medium;
}

.footer2 ul p {
  padding-top: 10px;
}

.footer3{
  height: 70px;
  background-color: rgb(35, 47, 62);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 35%;
  padding-right: 35%;
  
}

.footer3 img{
  height: 50px;
}

.options{
  display: flex;
}

.options p{
  margin: 10px;
  color: rgb(212, 211, 211);
  border: 1px solid white;
  padding: 5px;
  border-radius: 2px;
  font-size: 0.9rem;
  font-weight: 300;
}

.licence{
  background-color: rgb(19, 26, 34);
  padding: 10px;
}